.menu-container{
    background-color: rgb(62, 61, 61);
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.logoPhoto{
    width: 120px;
    padding: 10px;
}

.menus{
    display: flex;
    /* list-style: none; */
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.item{
    margin: 10px;
    /* cursor: pointer; */
    /* margin-right: 10px;
    padding-right: 10px; */
}

.item:hover{
    color:chartreuse;
}

.banner-img{
    width: 230px;
}

.banner-text{
    color: white;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* border: 10px solid yellow; */
    background-image: url("/background.png"),linear-gradient(45deg,rgb(19, 18, 18),rgb(40, 38, 38));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.btn:hover{
    color: greenyellow;
}

.mainHeader{
    font-size: 42px;
    margin: 0px;
}

.text{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header2{
    text-align: center;
    font-size: 70px;
}

.about-photo{
    width: 280px;
}

.about-container{
    display: flex;
    justify-content:space-around;
}

.title{
    /* text-align: left; */
    padding-top: 30px;
}

.about-text{
    font-size: 20px;
    /* position: initial; */
}

.btn2{
    background-color: red;
    padding: 15px;
    border-radius: 2px;
    color: white;
    border: none;
}

.second{
    height: 100vh;
}

.header2{
    margin-top: 20px;
}
